<form action="{% url 'register' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
    {% csrf_token %}
    <span class="error">
        {{ form.non_field_errors|striptags }}
    </span>
    {% for f in form %}
        <p>{{ f.label_tag }}
            {{ f }}
            <span class="helptext">{{ f.help_text }}</span>
            {% if f.errors %}
                <span class="error">
                    {{ f.errors|striptags }}
                </span>
            {% endif %}
        </p>
    {% endfor %}
    <input type="submit" value="Stwórz konto" class="btn">
    <div class="text-right"><a href="/in/{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Powrót</a>
    </div>
</form>
