<form action="{% url 'edit_user' %}?next={{ request.GET.next }}" method="POST">
    {% csrf_token %}
    <span class="error">
        {{ form.non_field_errors|striptags }}
    </span>
    {% for f in form %}
        <div class="form-row">
            {{ f.label_tag }}
            {{ f }}
            {% if f.errors %}
                <span class="error">
                    {{ f.errors|striptags }}
                </span>
            {% endif %}
            {{ f.help_text|safe }}
        </div>
    {% endfor %}
    <input type="hidden" name="changePassword" value="1">
    <input type="submit" value="Zapisz" class="btn">
</form>
