<form action="{% url 'edit_space' %}" method="POST">
    {% csrf_token %}
    <div>
        <input type="text" name="name" value="{{ space.name }}">
    </div>
    <div>
        {% if space.is_public %}
            Publiczna<input type="radio" name="type" value="1" checked="checked" required>
            Prywatna<input type="radio" name="type" value="2">
        {% elif space.is_private %}
            Publiczna<input type="radio" name="type" value="1" required>
            Prywatna<input type="radio" name="type" value="2" checked="checked">
        {% endif %}
    </div>
    <div>
        <textarea name="description">{{ space.description }}</textarea>
    </div>
    <input type="hidden" name="space" value="{{ space.uid }}">
    <div class="text-right">
        <input type="submit" value="Zapisz" class="btn">
    </div>
</form>