<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embigo</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/core.css" rel="stylesheet">
</head>
<body>
	{% if user.is_authenticated %}
	<div class="header">
		<div class="content">
			<a href="" class="header_logo">embigo</a>
				<div class="header_user">
					<strong>{{ user.username }}</strong>
			        {% include "forms/form_signout.html" %}
			    </div>
		</div>
	</div>
	{% endif %}
	<div class="main">
		<div class="content">
    		{% block core %}{% endblock %}
		</div>
	</div>
    <script src="/static/core.js"></script>
</body>
</html>
