<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>embigo</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/core.css" rel="stylesheet">
    <link href="/static/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  	<script src="/static/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.js"></script>
    <script src="/static/js/core.js"></script>
</head>
<body>
	{% if user.is_authenticated %}
	<div class="header">
		<div class="content">
			<a href="/" class="header_logo">embigo</a>
				<div class="header_user">
					<strong>{{ user.username }}</strong>
			        {% include "forms/form_signout.html" %}
			    </div>
		</div>
	</div>
	{% endif %}
	<div class="main">
		<div class="content">
    		{% block core %}{% endblock %}
		</div>
	</div>
</body>
</html>
