{% extends "base.html" %}

{% block core %}
    {% if user.is_authenticated %}
        {% if space_list %}
            {% for space in space_list %}
				<a href="/{{ space.uid }}">{{ space.name }}</a>
            {% endfor %}
        {% else %}
			<a>No spaces are available.</a>
		{% endif %}
    {% else %}
	    <form method="post" action="{% url 'signin' %}" class="form-signin">
	        {% csrf_token %}
			<div>
			    <input type="text" placeholder="login" name="username" />
			</div>
			<div>
				<input type="password" placeholder="hasło" name="password" />
			</div>
			<input type="submit" value="Zaloguj" class="btn"/>
		</form>		
    {% endif %}
{% endblock %}
