<div class="list-space {% if not own_spaces %}list-space--empty{% endif %}" id="mySubspaces">
    {% if own_spaces %}
        {% for space in own_spaces %}
            <a href="/{{ space.uid }}"
               class="list-space_item {% if space.status == 2 %}list-space_item--archive{% endif %}">{{ space.name }}</a>
        {% endfor %}
        <a class="list-space_item"></a>
        <a class="list-space_item"></a>
        <a class="list-space_item"></a>
        <a class="list-space_item"></a>
    {% else %}
        Brak
    {% endif %}
</div>
