{% extends "base.html" %}

{% block core %}
	<div class="top-bar">
		<div>
			{% if space.parent %}<a href="/{{ space.parent.uid }}" class="btn"><i class="fa fa-chevron-left"></i> {{ space.parent }}</a>{% endif %}
			<a href="" class="btn"><i class="fa fa-pencil"></i>Edytuj</a>
		</div>
		<div>
			<a href="" class="btn">Zmień uprawnienia</a>
			<a href="" class="btn"><i class="fa fa-plus"></i>przestrzeń</a>
			<a href="" class="btn"><i class="fa fa-plus"></i>kanał</a>
		</div>
	</div>
	<div class="view-space">
		<div class="view-space_current">
			<div class="current-space {% if space.status == 2 %} current-space--archive {% endif %}">
				<div class="current-space_head">
					{% if space.type == 1 %}
						<i class="fa fa-folder-o"></i>
						<h1><span>Przestrzeń</span>
					{% elif space.type == 2 %}
						<i class="fa fa-comments-o"></i>
						<h1><span>Kanał</span>
					{% elif space.type == 3 %}
						<i class="fa fa-comment-o"></i>
						<h1><span>Wiadomość prywatna</span>
					{% else %}
						<h1>
					{% endif %}
						{{ space.name }}
					</h1>
				</div>
			    <p>{{ space.description }}</p>
		    </div>
		    <div class="messages">
				<h2>{% if messages %}Komentarze{% else %}Brak komentarzy{% endif %}</h2>
		    	<div class="messages_list {% if not messages %}messages_list--empty{% endif %}">
		    		{% for message in messages %}
				    	<div class="messages-item">
				    		<strong class="messages-item_user">{{ message.user }}</strong>
				    		<span class="messages-item_date">{{ message.data }}</span>
				    		<p>
				    			{{ message.content }}
				    		</p>
				    	</div>
		    		{% endfor %}
			    </div>
		    	<div class="messages_form" id="messageForm">
		    		<form action="{% url 'new_message' %}" method="POST" id="post-form">
    					{% csrf_token %}
		    			<textarea name="content" placeholder="Dodaj komentarz..."></textarea>
		    			<input type="hidden" name="space" value="{{ space.uid }}">
		    			<div class="text-right">
		    				<input type="submit" value="Wyślij" class="btn">
		    			</div>
		    		</forn>
		    	</div>
		    	<script type="text/javascript">
		    		$(function(){
		    			var form = $('#messageForm'),
		    				btnSubmit = $('.btn', form),
		    				content = $('textarea[name="content"]'),
		    				space = $('input[name="space"]');

			    		function new_message() {
			    		    $.ajax({
			    		        url : "/new_message/",
			    		        type : "POST", 
			    		        data : { 'space':  space.val(), 'content': content.val() },

			    		        success : function(data) {
									content.val('');
			    		            var s = '<div class="messages-item messages-item--new">';
			    		            s += '<strong class="messages-item_user">'+data.user+'</strong><span class="messages-item_date">'+data.date+'</span>';
			    		            s += '<p>'+data.content+'</p>';
			    		            s += '</div>';
			    		            $('.messages_list').removeClass('messages_list--empty');
			    		            $('.messages_list #mCSB_1_container').prepend(s);
			    		        },

			    		        error : function(xhr,errmsg,err) {
			    		            console.log(xhr.status + ": " + xhr.responseText);
			    		        }
			    		    });
			    		};
			    		form.on('submit', function(event){
			    		    event.preventDefault();
			    		    form.removeClass('is-error');
			    		    if(content.val()!=''){
			    		    	new_message();
			    		    }else{
			    		    	form.addClass('is-error');
			    		    }
			    		});
			            $(".messages_list").mCustomScrollbar();
		    		});
		    	</script>
		    </div>
		</div>
		<div class="view-space_subspaces">
			<h2>Podprzestrzenie</h2>
			<div class="list-spaces">
				Moje<br>
			    {% if own_spaces %}
			        {% for space in own_spaces %}
						<a href="/{{ space.uid }}" class="list-spaces_item {% if space.status == 2 %}list-spaces_item--archive{% endif %}">{{ space.name }}</a>
			        {% endfor %}
			    {% else %}
					Brak
				{% endif %}
				<br>
				Pozostałe<br>
				{% if other_spaces %}
			        {% for space in other_spaces %}
						{{ space.name }}<a href="/{{ space.uid }}"><i class="fa fa-sign-in"></i></a>
			        {% endfor %}
			    {% else %}
					Brak
				{% endif %}
			</div>
	    </div>
		<div class="view-space_channels">
			<h2>Kanały</h2>
			{% if channels %}
		        {% for channel in channels %}
					<a href="/{{ space.uid }}">{{ channel.name }}</a>
		        {% endfor %}
		    {% else %}
				Brak
			{% endif %}
		</div>
	</h1>
{% endblock %}