{% extends "base.html" %}

{% block core %}
	<a href="/{{ space.parent.uid }}" class="btn">Wróć{% if space.parent %} do {{ space.parent }}{% endif %}</a><br><br>
	<div class="view-space">
		<div class="view-space_current">
			<div class="current-space {% if space.status == 2 %} current-space--archive {% endif %}">
				<div class="current-space_head">
					{% if space.type == 1 %}
						<i class="fa fa-folder-o"></i>
						<h1><span>Przestrzeń</span>
					{% elif space.type == 2 %}
						<i class="fa fa-comments-o"></i>
						<h1><span>Kanał</span>
					{% elif space.type == 3 %}
						<i class="fa fa-comment-o"></i>
						<h1><span>Wiadomość prywatna</span>
					{% else %}
						<h1>
					{% endif %}
						{{ space.name }}
					</h1>
				</div>
			    <p>{{ space.description }}</p>
		    </div>
		    <div class="messages">
				<h2>{% if message_list %}Komentarze{% else %}Brak komentarzy{% endif %}</h2>
		    	<div class="messages_form" id="messageForm">
		    		<form action="{% url 'new_message' %}" method="POST" id="post-form">
    					{% csrf_token %}
		    			<textarea name="content" placeholder="Dodaj komentarz..."></textarea>
		    			<input type="hidden" name="space" value="{{ space.uid }}">
		    			<div class="text-right">
		    				<input type="submit" value="Wyślij" class="btn">
		    			</div>
		    		</forn>
		    	</div>
		    	<div class="messages_list">
		    		{% for message in message_list %}
				    	<div class="messages-item">
				    		<strong class="messages-item_user">{{ message.user }}</strong>
				    		<span class="messages-item_date">{{ message.data }}</span>
				    		<p>
				    			{{ message.content }}
				    		</p>
				    	</div>
		    		{% endfor %}
			    </div>
		    	<script type="text/javascript">
		    		$(function(){
		    			var form = $('#messageForm'),
		    				btnSubmit = $('.btn', form),
		    				content = $('textarea[name="content"]'),
		    				space = $('input[name="space"]');

			    		function new_message() {
			    		    $.ajax({
			    		        url : "/new_message/",
			    		        type : "POST", 
			    		        data : { 'space':  space.val(), 'content': content.val() },

			    		        success : function(data) {
			    		            var s = '<div class="messages-item messages-item--new">';
			    		            s += '<strong class="messages-item_user">'+data.user+'</strong><span class="messages-item_date">'+data.date+'</span>';
			    		            s += '<p>'+data.content+'</p>';
			    		            s += '</div>';
			    		            $('.messages_list').prepend(s);
			    		        },

			    		        error : function(xhr,errmsg,err) {
			    		            console.log(xhr.status + ": " + xhr.responseText);
			    		        }
			    		    });
			    		};
			    		form.on('submit', function(event){
			    		    event.preventDefault();
			    		    form.removeClass('is-error');
			    		    if(content.val()!=''){
			    		    	new_message();
			    		    }else{
			    		    	form.addClass('is-error');
			    		    }
			    		});
		    		});
		    	</script>
		    </div>
		</div>
		<div class="view-space_subspaces">
			<h2>Podprzestrzenie</h2>
		    {% if space_list %}
		        {% for space in space_list %}
					<a href="/{{ space.uid }}">{{ space.name }}</a>
		        {% endfor %}
		    {% else %}
				<a>No spaces are available.</a>
			{% endif %}
	    </div>
		<div class="view-space_channels">
			<h2>Kanały</h2>
		</div>
	</h1>
{% endblock %}