{% include "./topbar.html" %}
<div class="view-space">
	<div class="view-space_current">
		{% include "./breadcrumbs.html" %}
		<div class="current-space {% if space.status == 2 %} current-space--archive {% endif %}">
			{% if collaborators %}
				<div class="current-space_users">
					{% for su in space_users %}					
						<div class="current-space_avatar"><strong>{{ su.user.username|make_list|first }}</strong><span>{{ su.user.username }}</span></div>
		    		{% endfor %}
				</div>
			{% endif %}
			<div class="current-space_head">
				{% if space.type == 1 %}
					<i class="fa fa-folder-o"></i>
					<div><span class="current-space_type">Przestrzeń</span>
				{% elif space.type == 2 %}
					<i class="fa fa-comments-o"></i>
					<div><span class="current-space_type">Kanał</span>
				{% elif space.type == 3 %}
					<i class="fa fa-comment-o"></i>
					<div><span class="current-space_type">Rozmowa prywatna</span>
				{% else %}
					<div>
				{% endif %}
					<h1>{{ space.name }}</h1>
				</div>
			</div>
			<div class="current-space_desc">
		    	<p>{{ space.description }}</p>
		    </div>
	    </div>
	    <div class="messages">
			<h2>{% if messages %}Komentarze{% else %}Brak komentarzy{% endif %}</h2>
	    	<div class="messages_list {% if not messages %}messages_list--empty{% endif %}">
	    		{% for message in messages %}
			    	<div class="messages-item">
			    		<strong class="messages-item_user">{{ message.user }}</strong>
			    		<span class="messages-item_date">{{ message.get_date_for_message }}</span>
			    		{% if user.username == message.user.username %}<button class="messages-item_btn-delete" data-uid="{{ message.uid }}"><i class="fa fa-times"></i></button>{% endif %}
			    		<p>
			    			{{ message.content }}
			    		</p>
						{% if message.file %}
							<br>
							{% if message.check_if_image %}
								<img src="{{ message.get_filepath }}">
							{% else %}
								<i class="fa fa-file-o"></i> <a href="{{ message.get_filepath }}">{{ message.file.name }}</a>
			    			{% endif %}
						{% endif %}
					</div>
	    		{% endfor %}
		    </div>
	    	<div class="messages_form" id="messageForm">
    			{% include "forms/form_new_message.html" %}
	    	</div>
	    </div>
	</div>
	<div class="view-space_subspaces">
		<h2>Podprzestrzenie</h2>
		<div class="list-space {% if not own_spaces %}list-space--empty{% endif %}" id="mySubspaces">
		    {% if own_spaces %}
		        {% for space in own_spaces %}
					<a href="/{{ space.uid }}" class="list-space_item {% if space.status == 2 %}list-space_item--archive{% endif %}">{{ space.name }}</a>
		        {% endfor %}
		    {% else %}
				Brak
			{% endif %}
		</div>
		<div class="list-space list-space--other {% if not other_spaces %}list-space--empty{% endif %}">
			{% if other_spaces %}
		        {% for space in other_spaces %}
					<a href="/{{ space.uid }}" class="list-space_item {% if space.status == 2 %}list-space_item--archive{% endif %}">{{ space.name }}<i class="fa fa-sign-in"></i></a>
		        {% endfor %}
		    {% else %}
				Brak
			{% endif %}
		</div>
    </div>
	<div class="view-space_channels">
		<h2>Kanały</h2>
		<div class="list-space {% if not own_channels %}list-space--empty{% endif %}" id="myChannels">
		    {% if own_channels %}
		        {% for space in own_channels %}
					<a href="/{{ space.uid }}" class="list-space_item {% if space.status == 2 %}list-space_item--archive{% endif %}">{{ space.name }}</a>
		        {% endfor %}
		    {% else %}
				Brak
			{% endif %}
		</div>
		<div class="list-space list-space--other {% if not other_channels %}list-space--empty{% endif %}">
			{% if other_channels %}
		        {% for space in other_channels %}
					<a href="./enter_channel/{{ space.uid }}" class="list-space_item {% if space.status == 2 %}list-space_item--archive{% endif %}">{{ space.name }}<i class="fa fa-sign-in"></i></a>
		        {% endfor %}
		    {% else %}
				Brak
			{% endif %}
		</div>
	</div>
</div>