{% include "./topbar.html" %}
<div class="view-space">
	{% if space.uid == "00000000-0000-0000-0000-000000000000" %}
		<div class="view-space_subspaces">
			<h2>Moje przestrzenie</h2>
			{% include "./list-space.html" %}
			{% include "./list-other-space.html" %}
		</div>
	{% else %}
		{% include "./breadcrumbs.html" %}
		<div class="current-space {% if space.status == 2 %} current-space--archive {% endif %}">
			{% if collaborators %}
				<div class="current-space_users">
					{% for su in space_users %}
						<div class="current-space_avatar"><strong>{{ su.user.username|make_list|first }}</strong><span>{{ su.user.username }}</span></div>
		    		{% endfor %}
				</div>
			{% endif %}
			<div class="current-space_head">
				<i class="fa fa-folder-o"></i>
				<div>
					<span class="current-space_type">Przestrzeń</span>
					<h1>{{ space.name }}</h1>
				</div>
			</div>
			<div class="current-space_body">
				<div class="current-space_desc">
					<h2>Opis</h2>
			    	<p>{{ space.description }}</p>
			    </div>
				{% include "./messages.html" %}
			</div>
	    </div>
		<div class="view-space_subspaces">
			<h2>Podprzestrzenie</h2>
			{% include "./list-space.html" %}
			{% include "./list-other-space.html" %}
	    </div>
	{% endif %}
</div>
