body {
	background: #3C3C3C;
	font-family: 'Fira Sans', sans-serif;
}
button, input, textarea {
	outline: 0;
}
form.is-error input:not([type="submit"]), form.is-error textarea, form.is-error select {
	border-color: #ff0000;
}
.text-center { text-align: center; }
.text-right { text-align: right; }
.content {
	max-width: 1100px;
	margin: 0 auto;
}

.btn {
	background: #A39B76;
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	padding: 0 20px;
	border: 0;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
	.btn:hover {
		background: #7E7758;
	}
	.btn i {
		margin-right: 10px;
	}

.header {
	background: #F7E27B;
}
	.header .content {
		height: 70px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.header_logo {
		font-size: 35px;
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		color: #3E3E3E;
	}
	.header_user {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
		.header_user strong {
			margin-right: 20px;
			font-size: 14px;
			font-weight: 500;
		}
		.header_user .btn {
			font-size: 14px;
			line-height: 26px;
			padding: 0px 14px;
			text-transform: none;
		}

.main {}
	.main .content {
		padding: 30px 0;
	}

.top-bar {
	min-height: 40px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-content: space-between;
}

.current-space {
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	height: 300px;
	margin-bottom: 20px;
}
	.current-space_head {
		background: #F7E27B;
		padding: 10px 20px;
		border-bottom: 1px solid #C6AF3E;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.current-space i {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		font-size: 28px;
		margin-right: 15px;
	}
	.current-space h1 {
		font-size: 24px;
		margin: 0;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	}
	.current-space_type {
		display: block;
		font-size: 11px;
		font-weight: 400;
		color: #A59131;
		margin-bottom: 0px;
		text-transform: uppercase;
	}
		.current-space--archive .current-space_head {
			background: #D7D7D7;
			border-color: #A7A7A7;
		}
		.current-space--archive .current-space_type {
			color: #888888;
		}
	.current-space p {
		padding: 15px 20px;
		margin: 0;
		font-size: 14px;
		line-height: 24px;
	}
.breadcrumbs {
	list-style: none;
	padding: 0;
	color: #fff;
	margin: 0;
	display: block;
	overflow: hidden;
	height: 22px;
	font-size: 14px;
	margin-bottom: 20px;
}
	.breadcrumbs li {
		display: inline-block;
		float: left;
	}
	.breadcrumbs a {
		color: #F3F3F3;
		text-decoration: none;
	}
		.breadcrumbs a:hover {
			color: #F7E27B;
		}
	.breadcrumbs i {
		font-size: 10px;
		vertical-align: middle;
		margin: 0 10px;
	}
	.breadcrumbs_current {
		color: #F7E27B;
	}

@-webkit-keyframes initSpace{
	from { opacity: 0; }
	to { opacity: 1; }
}
.list-space {
	margin-bottom: 20px;
	background: #515151;
    padding: 10px;
    border-radius: 5px;
	color: #9F9F9F;
/*    border: 1px solid #000;
*/}
	.list-space--other {
		background: transparent;
		padding: 0 10px;
		border: 0;
	}
	.list-space--other .list-space_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.list-space_item {
		background: #F7E27B;
		border: 1px solid #C2AD48;
		border-radius: 5px;
		padding: 10px 20px;
		display: block;
		text-decoration: none;
		color: #000;
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 10px;
	}
		.list-space_item:hover {
			background: #E5D16F;
		}
		.list-space_item:last-child {
			margin-bottom: 0;
		}
		.list-space_item--new {
			animation: initMessage 1s;
		}
		.list-space_item--archive {
			background: #D7D7D7;
			border-color: #ADADAD;
		}
			.list-space_item--archive:hover {
				background: #CCCCCC;
			}
		.list-space_item i {
			margin-left: 20px;
		}

@-webkit-keyframes initSignIn{
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		        transform: translate3d(0, 10px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		        transform: translate3d(0, 0px, 0);
	}
}
.form-signin {
	background: #F7E27B;
	margin: 220px auto 0;
	width: 350px;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;
	-webkit-animation: initSignIn 0.7s ease-out;
}
	.form-signin_logo {
		font-size: 56px;
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		color: #3E3E3E;
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.form-signin form {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
	}
	.form-signin input{
		width: 100%;
		font-size: 16px;
		margin-top: 5px;
	}
	.form-signin input:not([type="submit"]){
		background: #F6F6F6;
		border-radius: 5px;
		line-height: 38px;
		box-sizing: border-box;
		padding: 0 20px;
		border: 0;
	}
	.form-signin p {
		margin: 0 0 20px;
		font-size: 14px;
		color: #3E3E3E;
	}
	.form-signin .helptext {
		color: #A59131;
		font-size: 12px;
		padding: 5px 5px 0;
		display: block;
	}
	.form-signin .text-right {
		margin-top: 10px;
	}
		.form-signin .text-right  a {
			font-size: 14px;
			color: #3E3E3E;
			text-decoration: none;
			margin-right: 10px;
		}
		.form-signin .text-right  a:hover {
			text-decoration: underline;
		}

.view-space {
	display: flex;
	justify-content: space-between;
}
	.view-space_current {
		flex: 0 0 auto;
		width: 50%;
	}
	.view-space_channels {
		flex: 0 0 auto;
		width: 25%;
		padding-left: 30px;
		box-sizing: border-box;
	}
	.view-space_subspaces {
		flex: 0 0 auto;
		width: 25%;
		padding-left: 30px;
		box-sizing: border-box;
	}
	.view-space h2 {
		font-size: 18px;
	    font-weight: 500;
	    margin: 0 0 20px;
	    color: #F3F3F3;
	}
	.view-space--channel .view-space_current {
		width: 75%;
	}


@-webkit-keyframes initMessage{
	from { opacity: 0; }
	to { opacity: 1; }
}
.messages {}
	.messages_form {}
	.messages_form textarea {
		background: #fff;
		border-radius: 5px;
		padding: 20px;
		width: 100%;
		display: block;
		font-size: 14px;
		resize: none;
		height: 120px;
		box-sizing: border-box;
	}
	.messages_form .btn {
		margin-top: 15px;
	}
	.messages_list {
		max-height: 323px;
		overflow: hidden;
		margin-bottom: 20px;
	}
		.messages_list--empty {
			margin-bottom: 0;
		}
		.messages_list .mCSB_inside > .mCSB_container {
			margin-right: 0;
		}
		.messages_list .mCSB_scrollTools .mCSB_draggerRail {
			background-color: rgba(169, 169, 169, 0.4);
			width: 8px;
		}
		.messages_list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
			background-color: rgba(255, 255, 255, 0.75);
		}
	.messages-item {
		background: #fff;
		border-radius: 5px;
		padding: 20px;
		margin-bottom: 15px;
	}
		.messages-item:last-child {
			margin-bottom: 0;
		}
		.messages-item--new {
			animation: initMessage 1s;
		}
	.messages-item_user {
		color: #282828;
		font-size: 16px;
		margin-right: 20px;
		vertical-align: middle;
	}
	.messages-item_date {
		font-size: 12px;
		color: #B9B9B9;
		vertical-align: middle;
	}
	.messages-item p {
		font-size: 14px;
		line-height: 20px;
		color: #6B6B6B;
		margin: 10px 0 0;
	}


.popup-bg {
	background: rgba(247, 226, 123, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
	.popup {
		background: #fff;
		padding: 20px;
		border-radius: 10px;
		width: 460px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 100px;
		box-shadow: 0 0 10px rgb(167, 151, 73);
		display: none;
	}
	.popup_btn-close {
		background: transparent;
		border: 0;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.popup h2 {
		margin: 10px 0 20px;
		font-size: 24px;	
	}
	.popup input:not([type="submit"]), .popup textarea, .popup select {
	    background: #F6F6F6;
	    border-radius: 5px;
	    margin-bottom: 20px;
	    line-height: 38px;
	    box-sizing: border-box;
	    padding: 0 20px;
	    border: 1px solid #DCDCDC;
	    width: 100%;
	}
	.popup textarea {
		line-height: 24px;
		padding: 12px 20px;
		height: 200px;
		resize: none;
	}
	.popup select {
		line-height: 40px;
		height: 40px;
		display: block;
	}